<button (click)="pracFunction()">click me</button>
<!-- <button (click)="test1Function()">submit</button> -->


<button (click)="test1Function()"> Get Records</button> <br><br>
<ng-select>
    <ng-option *ngFor="let record of record1" [value]="record.id">{{record.email}}</ng-option>
</ng-select>
<div class="row">
    <div class="col-md-1"></div>
<table class="col-md-10 center">
    <tr class="text-center" >
        <td colspan="5">
            <h1>DATA</h1>
        </td>
    </tr>
    
    <!-- <h1 class="center">{{name}}</h1> -->
    <tr>
        <th> Name </th>
        <th> Id</th>
        <th> Email</th>
        <th> Address</th>
        <th> Actions</th>
    </tr>
    <tr *ngFor="let record of record1 ">
        <td> {{record.name}} </td>
        <td> {{record.id}}</td>
        <td> {{record.email}}</td>
        <td> {{record.address.city + "," + " " + record.address.zipcode}}</td>
        <td> <button (click)="deleteRecord(record)"> Delete</button></td>
    </tr>
</table>
<div class="col-md-1"></div>
</div>