<h2>JAVA Script Tutorial</h2>
<div class="para">
    <p>javascript is the world's most popular programming launguage.</p>
    <p>JavaScript is the programming language of the Web.</p>
    <p>JavaScript is easy to learn.</p>
    <p>This tutorial will teach you JavaScript from basic to advance.</p>
</div>
<div>
    <p>JS Tutorial</p>
    <p>JS Introduction</p>
    <p>JS Where to </p>
    <p>JS Output</p>
    <p>JS Statements</p>
    <p>JS Syntax</p>
    <p>JS Comments</p>
    <p>JS Let </p>
    <p>JS Arithmetic</p>
    <p>JS Data Type</p>
    <p>JS Function</p>
    <p>JS Object/p>
</div>