<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav" style="background-color: rgb(7, 63, 65);">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/practice">Practice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/link">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">about</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="#">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <!-- <button class="btn btn-success my-2 my-lg-0" type="submit" (click)="clickFumction()">Search</button> -->

        </form>

    </div>
    <button (click)="clickFumction()">submit</button>
    <table>

        <tr>
            <th> Name </th>
            <th> Id</th>
            <th> Email</th>
            <th> Post ID</th>
            <th> Actions</th>
        </tr>
        <tr *ngFor="let record of record1 ">
            <td> {{record.name}} </td>
            <td> {{record.id}}</td>
            <td> {{record.email}}</td>
            <td> {{record.postId}}</td>
            <td> <button> Delete</button></td>
        </tr>
    </table>
</nav>