
<nav class="navbar navbar-expand-sm bg-dark row">
    <ul class="navbar-nav col-md-8 ">
        <li class="nav-item pl-4" >
            <a class="nav-link text-white"  routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item pl-4">
            <a class="nav-link text-white" routerLink="/practice">Practice</a>
        </li>
        <li class="nav-item pl-4">
            <a class="nav-link text-white" routerLink="/link">Link</a>
        </li>
            <li class="nav-item pl-4">
            <a class="nav-link text-white"  routerLink="/about">About</a>
        </li>
    </ul>
    <div class="searchbar col-md-2 pr-1"> 
        <input class="input form-control" type="text" placeholder="search" name="search" value="">

    </div>
    <div class="col-md-2 pl-1">
        <button class="btn btn-info text-white mr-3 " ><i class="fa fa-search"></i></button> 
        <button class="btn btn-info mr-2">Sign In</button>
        <button class="btn btn-info">Sign Up</button>
    </div>
    </nav>
