<div class="container">
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/practice/prac1">Practice1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/practice/prac2">Practice2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/practice/prac3">Practice3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/practice/prac4">Practice4</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>